@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');

@import "./smart-grid.scss";
@import "./mixins.scss";
@import "./vars.scss";

@include reset();

ul {
    list-style: none;
}

.customBtn {
    font: {
        size: 16px;
        weight: 600;
    }
    text-decoration: none;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    padding: 19px 55px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    
    &:hover {
        background: $color-gold;
    }
    @include lg-block {
        padding: 15px 50px;
    }
    @include sm-block {
        padding: 12px 30px;
    }
    
    &.gold1 {
        background: $color-gold;
    }
    &.gold2 {
        background: $color-gold;
        color: $color-white;
        transition: background .3s ease-in-out, color .3s ease-in-out;
        font-size: 14px;
        padding: 12px 25px;
        &:hover {
            background: #fff;
            color: $color-gold;
        }
    }
}

.closeBtn {
    width: $header-closebtn;
    height: $header-closebtn;
    position: relative;
    &__lines {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 20%;
        background: #000;
        border-radius: 30px;
        cursor: pointer;
        
        &:first-of-type {
            transform: rotate(-45deg);
        }
        
        &:last-of-type {
            transform: rotate(-135deg);            
        }
    }
}

body {
    font-family: "open sans", arial, tahoma, sans-serif;
    width: 100%;
}

.container {
    @include wrapper();
}

.textGold {
    color: $color-gold; 
}
.goldHr {
    width: 25%;
    border-color: $color-gold;
}

.contentTitle {
    text-transform: uppercase;
    font: {
        size: 35px;
        weight: bold;
    }
    color: $color-grey;
}
.contentTitle-white {
    @extend .contentTitle;
    color: $color-white !important;
}
.contentDesc {
    max-width: 400px;
    font-size: 16px;
    color: $color-grey;
    line-height: 30px;
    margin: 0 auto;
}
.content {
    @include cc();
}