$color-gold: #f7600e;
$color-gold-op9: #f7600edc;
$color-gold-op6: #f7600e9a;
$color-white: #fff;
$color-grey: #3b434c;
$color-grey-op6: #3b434c9b;

$header-closebtn: 30px;

$ellips_color: rgba(59, 67, 76, 0.3);